html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-size: inherit;
}
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
body{
  color: #8a8a8a;
  background-color: #fff;
  @extend %montserrat-light;
  font-size: 13px;
  line-height: 15px;
}
.container{
  max-width: 1530px;
  padding: 0 15px;
  margin: 0 auto;
}
.btn{
  padding: 15px 26px 14px 27px;
  background-color: #3954d9;
  border-radius: 23px;
  @extend %montserrat-regular;
  color: #fff;
  transition: all .3s;
  &:hover{
    background-color: #440097;
  }
}
.page-section{
  box-shadow: 0 0 62px rgba(12,12,12,.13);
  background-color: #fff;
  position: relative;
  margin-top: -73px;
}
.text{
  line-height: 20px;
}
.price-new{
  color: #3954d9;
}
.price-old{
  position: relative;
  &::before{
    position: absolute;
    content: "";
  }
}