/*
font-family: 'Bebas Neue', cursive;

font-family: 'Montserrat', sans-serif;

font-family: 'Poppins', sans-serif;
*/
%bebasBold-regular{
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
}
%poppins-regular{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
%poppins-semibold{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
%poppins-bold{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
%montserrat-light{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
%montserrat-regular{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
%montserrat-medium{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
%montserrat-semibold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
%montserrat-bold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}