@import "vars";
@import "libs";
@import "fonts";
@import "global";

/*start header*/
.header{
  color: #fff;
  text-transform: uppercase;
  height: 100vh;
  position: relative;
  &-top{
    background-color: rgba(#212121, .75);
    border-bottom: 1px solid rgba(#fff, .22);
    height: 75px;
    position: absolute;
    width: 100%;
  }
  &-top__inner{
    display: flex;
    justify-content: space-between;
  }
  &-top__left{
    display: flex;
    align-items: center;
  }
  &__section-btn__flip{
    width: 30px;
    height: 21px;
    margin: 25px 0;
    cursor: pointer;
    div{
      width: 100%;
      height: 4px;
      background-color: #fff;
    }
    div + div {
      margin-top: 5px;
    }
  }
  &__section-btn {
    padding: 0 26px 0 20px;
  }
  &-top__section{
    border-left: 1px solid rgba(#fff, .22);
    height: 100%;
  }
  &__section-btn.header-top__section{
    border-left: none;
  }
  &__social{
    display: flex;
    align-items: center;
  }
  &__social-item{
    position: relative;
    &:first-child{
      margin-left: 20px;
    }
    &:last-child{
      margin-right: 20px;
    }
    & .header__social-link{
      &::before{
        position: absolute;
        content: "";
      }
    }
    &:first-child .header__social-link{
      &::before{
        background-image: url('../images/header__fb.svg');
        width: 15px;
        height: 26px;
        left: 22px;
        top: -4px;
      }
    }
    &:nth-child(2) .header__social-link{
      &::before{
        background-image: url('../images/header__tw.svg');
        width: 25px;
        height: 21px;
        left: 18px;
        top: -2px;
      }
    }
    &:nth-child(3) .header__social-link{
      &::before{
        background-image: url('../images/header__g+.svg');
        width: 26px;
        height: 21px;
        left: 19px;
        top: -2px;
      }
    }
    &:last-child .header__social-link{
      &::before{
        background-image: url('../images/header__inst.svg');
        width: 27px;
        height: 28px;
        left: 18px;
        top: -6px;
      }
    }
  }
  &__social-item{
    width: 65px;
    height: 100%;
  }
  &-top__right{
    display: flex;
    align-items: center;
  }
  &__cart-link{
    padding: 22px 0;
  }
  &__search-link{
    padding: 23px 0;
  }
  &__cart-link,
  &__search-link{
    padding-left: 21px;
    padding-right: 27px;
  }
  &-bottom{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-bottom__textarea{
    padding-top: 140px;
    max-width: 630px;
    text-align: center;
    margin-left: 90px;
  }
  &-bottom__textarea-title{
    @extend %poppins-bold;
    font-size: 204px;
    line-height: 147px;
    letter-spacing: -15px;
  }
  &-bottom__textarea-descr{
    @extend %montserrat-bold;
    font-size: 21px;
    line-height: 23px;
    letter-spacing: 6px;
    margin-top: -105px;
  }
  &-bottom__btn{
    margin-top: 40px;
    font-size: 17px;
    line-height: 20px;
  }
}
.menu{
  @extend %montserrat-semibold;
  letter-spacing: .25px;
  &__list-item{
    display: inline-block;
    &:first-child{
      margin-left: 34px;
    }
  }
  &__list-link{
    padding: 29px 18px 30px;
    transition: all .3s;
    &:hover{
      background-color: rgba(#000, .5);
    }
  }
}
.logo{
  padding: 23px 26px 23px 20px;
}
/*end header*/

/*start benefits*/
.benefits{
  &__inner{
    display: flex;
  }
  &__item{
    width: 375px;
    border-left: 1px solid rgba(#000, .22);
    text-align: center;
    padding: 79px 70px 59px;
    &:first-child{
      border-left: none;
    }
  }
  &__item-img{
    margin-bottom: 45px;
  }
  &__item-title{
    @extend %bebasBold-regular;
    font-size: 33px;
    line-height: 35px;
    margin: 0;
    color: #0d2e57;
  }
  &__item-link{
    @extend %montserrat-semibold;
    color: #3753da;
    margin-top: 10px;
  }
}
/*end benefits*/

/*start best-offer*/
.best-offer{
  background-color: #f2f0f0;
  &__inner{
    display: flex;
  }
  &__info{
    text-align: center;
    max-width: 750px;
    padding: 100px 130px 70px 100px;
  }
  &__info-descr{
    @extend %poppins-semibold;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #616161;
    margin-bottom: 25px;
  }
  &__info-title{
    text-transform: uppercase;
    @extend %bebasBold-regular;
    font-size: 43px;
    line-height: 45px;
    margin: 0;
    color: #0d2e57;
  }
  &__info-text{
    margin-top: 30px;
    font-size: 18px;
    line-height: 25px;
  }
  &__info-prices,
  &__info-time{
    max-width: 315px;
  }
  &__info-prices{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto 0;
  }
  &__info-prices__new{
    @extend %montserrat-bold;
    font-size: 52px;
    line-height: 55px;
  }
  &__info-prices__old{
    @extend %montserrat-medium;
    font-size: 33px;
    line-height: 36px;
    color: #121212;
    margin-top: 5px;
    &::before{
      width: 100%;
      height: 2px;
      background-color: #3b3b3b;
      top: 50%;
    }
  }
  &__info-time{
    display: flex;
    justify-content: space-between;
    margin: 55px auto 42px;
  }
  &__info-time__block{
    width: 90px;
    height: 105px;
    background-color: #fff;
    border-radius: 20px;
    padding: 22px 21px 19px;
    text-align: center;
    &:nth-child(2){
      padding-left: 17px;
      padding-right: 16px;
    }
    &:nth-child(3){
      padding-left: 14px;
      padding-right: 14px;
    }
  }
  &__info-time__block-number,
  &__info-time__block-label{
    @extend %montserrat-semibold;
    color: #2d2b27;
    margin: 3px 0 0;
  }
  &__info-time__block-number{
    font-size: 38px;
    line-height: 32px;
    margin: 0 0 -4px;
  }
  &__info-time__block-dots{
    @extend %montserrat-regular;
    font-size: 15px;
    line-height: 17px;
    color: #121212;
  }
  &__info-time__block-label{
    text-transform: uppercase;
  }
  &__img{
    max-width: 750px;
    max-height: 750px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    img{
      margin: -65px 0 0 -55px;
    }
  }
}
/*end best-offer*/

/*start products*/
.products{
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    &::before,
    &::after{
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background-color: #c7c7c7;
      z-index: 4;
      transform: translateX(-1px);
    }
    &::before{
      left: 25%;
    }
    &::after{
      left: 50%;
    }
  }
  &__item{
    width: 375px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 40px;
    transition: all .3s;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11){
      &::before,
      &::after{
        content: "";
        position: absolute;
        width: calc(100% + 1px);
        height: 1px;
        background-color: #c7c7c7;
      }
      &::before{
        top: -1px;
      }
      &::after{
        bottom: -1px;
      }
    }
    &:nth-child(3),
    &:nth-child(10){
      border-right: 1px solid #c7c7c7;
    }
    &:hover{
      z-index: 5;
      box-shadow: 0 10px 25px rgba(41,52,73,0.5);
    }
  }
  &__item-prices {
    display: flex;
  }
  &__item-title{
    @extend %bebasBold-regular;
    font-size: 25px;
    line-height: 27px;
    color: #0d2e57;
    margin: 0;
  }
  &__item-textarea {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
  &__item-prices{
   @extend %montserrat-semibold;
    margin-top: 10px;
  }
  &__item-prices__old{
    font-size: 12px;
    margin-left: 10px;
    margin-top: 1px;
    color: #818181;
    &::before{
      width: 100%;
      height: 1px;
      background-color: #818181;
      top: 50%;
    }
  }
  &__banner{
    img {
      height: 373px;
      width: 100%;
      overflow: hidden;
    }
  }
  &__banner-big img{
    margin-right: 6px;
  }
  &__link{
    padding: 35px 25px 28px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    @extend %montserrat-semibold;
    color: #3753da;
  }
}
/*end products*/

/*start gallery*/
.gallery{
  &__inner{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    width: 375px;
    height: 375px;
    overflow: hidden;
    position: relative;
    img{
      margin: 0 0 0 -30px;
    }
    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(5){
      img{
        margin: 0 0 0 -80px;
      }
    }
    &::before{
      position: absolute;
      content: "";
      background-color: rgba(#000, .56);
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity ease-in-out .3s;
    }
    &:hover{
      &::before{
        transition: opacity ease-in-out .3s;
        opacity: 0;
        position: absolute;
        content: "";
        background-color: rgba(#000, .56);
        width: 100%;
        height: 100%;
      }
    }
  }
}
/*end gallery*/

/*start partners*/
.partners{
  &__inner{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #c7c7c7;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__item{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .3s;
    & + & {
      &::before{
        position: absolute;
        content: "";
        height: 100%;
        width: 1px;
        background-color: #c7c7c7;
        left: 0;
      }
    }
    &:nth-child(7){
      &::before{
        display: none;
      }
    }
    &:hover{
      box-shadow: 0 10px 25px rgba(41,52,73,0.5);
    }
  }
}
/*end partners*/
@import "media";
